@import './colors';
@import './mixin';
@import './header';
@import './main';
@import './footer'; 


body{

    height: 100%;
    width: 100%;

    margin: 0;
    padding: 0px;

    font-family: 'inter';
}
